/* GENERAL */

footer {
  background: var(--colorBlack);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: var(--robotoRegular);
  justify-content: center;
}

footer h3 {
  color: var(--colorWhite);
}

/* LOGO */

.container-logo {
  margin-bottom: 25px;
}

footer h2 {
  font-size: var(--fsize3);
  color: var(--colorOrange);
  text-align: center;
}

/* CONTAINER UL */

.container-ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}

footer ul li a {
  color: var(--colorWhite);
}

footer ul li a:hover {
  color: var(--colorOrange);
}

/* CONTAINER SUPPORT */

.container-support {
  display: flex;
  flex-direction: column;
}

.container-support h3 {
  margin-bottom: 25px;
  text-align: center;
}

.container-support p {
  color: var(--colorWhite);
  line-height: 25px;
  margin-left: 22px;
}

/* CONTAINER WORK */

.container-work {
  display: flex;
  flex-direction: column;
}

.container-work h3 {
  margin-bottom: 25px;
  text-align: center;
}

.container-work p {
  color: var(--colorWhite);
  line-height: 25px;
}

/* FOOTER BOTTOM */

.footer-bottom {
  border-top: 1px solid var(--colorWhite);
  background: var(--colorBlack);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.politiques {
  line-height: 25px;
  text-align: center;
}

.footer-bottom a {
  color: var(--colorWhite);
}

.footer-bottom a:hover {
  color: var(--colorOrange);
}

/* TABLET FOOTER BOTTOM */
@media all and (min-width: 768px) {
  .politiques {
    display: flex;
    gap: 15px;
  }

  .footer-bottom {
    padding: 15px;
  }
}

/* TABLET */

@media all and (min-width: 900px) {
  footer {
    flex-direction: row;
    padding: 20px;
    gap: 35px;
    align-items: flex-start;
  }

  .politiques {
    display: flex;
    gap: 15px;
  }
}
