/* GENERAL */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
}

/* INSCRIPTION */
.form-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 50px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  background: var(--colorBlack);
}

.form-login label {
  display: none;
}

.politique {
  text-decoration: underline;
}

.error-message {
  text-align: center;
  color: var(--colorWhite);
}

.form-login input {
  padding: 10px 0;
  width: 100%;
  border: transparent;
  background: var(--colorBlack);
  color: var(--colorWhite);
  border-bottom: 1px solid var(--colorWhite);
}

.form-login input:focus {
  outline: none;
  border-bottom: 1px solid var(--colorOrange);
}

.form-login ::placeholder {
  color: var(--colorWhite);
}

.orange {
  color: var(--colorOrange);
}

#envoie {
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background: var(--colorOrange);
  color: var(--colorWhite);
  text-transform: uppercase;
  cursor: pointer;
}

#envoie:hover {
  opacity: 0.9;
}

input[type="checkbox"] {
  accent-color: var(--colorOrange);
}

.container-password {
  position: relative;
}

.container-password img,
.container-confirm img {
  position: absolute;
  top: 2px;
  right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.container-confirm {
  position: relative;
}

.container-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container-general a {
  color: var(--colorWhite);
  font-size: 0.9rem;
  width: 110px;
}

.container-general a:hover {
  color: var(--colorOrange);
}

.container-general p {
  color: var(--colorWhite);
}

.container-politique {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container-paragraph {
  display: flex;
}

.container-paragraph a {
  text-decoration: none;
}

.container-politique label {
  display: block;
  font-size: 0.9rem;
  width: 65%;
}

.container-politique input {
  width: 7%;
  height: 10%;
}

.container-inscription .gym {
  display: none;
}

.button-panel {
  border: 3px solid red;
}

/* MOBILE */

@media all and (min-width: 480px) and (max-width: 767px) {
  .container-general {
    flex-direction: row;
  }

  .container-politique label {
    width: 100%;
  }
}

/* TABLET */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .container-inscription {
    display: flex;
  }

  .container-inscription .gym {
    display: block;
    height: 48%;
    width: 375px;
  }

  .container-politique {
    gap: 10px;
  }

  .container-general {
    flex-direction: row;
  }

  .form-login {
    padding: 0 28px 20px;
    margin: auto 0 auto auto;
  }
}

@media all and (min-width: 1024px) {
  .container-inscription {
    display: flex;
    justify-content: center;
  }

  .container-inscription .gym {
    display: block;
    height: 100%;
    width: 500px;
  }

  .container-general {
    flex-direction: column;
  }

  .form-login {
    padding: 0px 20px 20px;
    margin: auto 0 auto 0;
  }
}

/* CONNEXION */

.container-connexion .ca {
  display: none;
}

.container-para {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.container-para a {
  color: var(--colorWhite);
}

/* MOBILE */
@media all and (min-width: 480px) and (max-width: 767px) {
  .container-para {
    flex-direction: row;
  }
}

/* TABLET */

@media all and (min-width: 768px) and (max-width: 1023px) {
  .container-connexion {
    display: flex;
    gap: 55px;
  }

  .container-connexion .ca {
    display: block;
    height: 48%;
    width: 375px;
  }

  .container-para {
    flex-direction: row;
  }

  .form-login {
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
  }

  .container-inscription .gym {
    height: auto;
  }
}

/* DESKTOP */

@media all and (min-width: 1024px) {
  .container-connexion {
    display: flex;
    justify-content: center;
  }

  .container-connexion .ca {
    display: block;
    height: 100%;
    width: 440px;
  }

  .container-para {
    flex-direction: row;
  }

  .form-login {
    padding: 20px 50px 20px;
    margin: 0;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .container-politique input {
    height: 40%;
  }

  .container-inscription .gym {
    width: 60%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  #envoie {
    margin: 40px;
  }
}
